<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.language %>">
  <head>
      <!-- HTML Meta Tags -->
      <meta charset="UTF-8">
      <title><%= htmlWebpackPlugin.options.title %></title>
      <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

      <!-- Google / Search Engine Tags -->
      <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>">
      <meta itemprop="description" content="<%= htmlWebpackPlugin.options.description %>">
      <meta itemprop="image" content="<%= htmlWebpackPlugin.options.image %>">

      <!-- Facebook Meta Tags -->
      <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
      <meta property="og:type" content="website">
      <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
      <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
      <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>">

      <!-- Twitter Meta Tags -->
      <meta name="twitter:card" content="<%= htmlWebpackPlugin.options.large_image %>">
      <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
      <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
      <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.image %>">

      <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <div>Hi !</div>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>